div
  //- md-button.menu-item(ng-repeat='botao in vm.botoes', ng-click='botao.callback()')
  //-   md-icon {{::botao.icone}}
  md-menu
    md-button.menu-item(aria-label='Menu alinhamento', ng-click='$mdMenu.open($event)')
      md-icon(md-menu-origin='') format_align_center
    md-menu-content(width='4')
      md-menu-item(ng-repeat='botao in vm.botoes')
        md-button(ng-click='botao.callback()')
          div(layout='row', flex='')
            p(flex='') {{::botao.titulo}}
            md-icon(md-menu-align-target='', style='margin: auto 3px auto 0;') {{::botao.icone}}




