div.ngc-wysiwyg-handler.top-right(ng-mousedown='vm.ativarResize($event)')
div.ngc-wysiwyg-handler.top-left(ng-mousedown='vm.ativarResize($event)')
div.ngc-wysiwyg-handler.bottom-right(ng-mousedown='vm.ativarResize($event)')
div.ngc-wysiwyg-handler.bottom-left(ng-mousedown='vm.ativarResize($event)')
