div
  md-button.menu-item(hide-xs ng-repeat='botao in vm.botoes', ng-click='botao.callback()', aria-label='{{::botao.titulo}}')
    md-icon {{::botao.icone}}
  md-menu()
    md-button.menu-item(hide-gt-xs aria-label='Menu alinhamento', ng-click='vm.abrirMenu($mdOpenMenu, $event)')
      md-icon format_align_center
      md-icon(md-menu-origin='') arrow_drop_down

    md-menu-content
      md-menu-item(ng-repeat='botao in vm.botoes')
        md-button(ng-click='botao.callback()', aria-label='{{::botao.titulo}}')
          div(layout='row', flex='')
            p(flex='') {{::botao.titulo}} &nbsp;
            md-icon(md-menu-align-target='', style='margin: auto 3px auto 0;') {{::botao.icone}}




