div
  ngc-wysiwyg-botao(classe='menu-item' hide-xs ng-repeat='botao in vm.botoes', disabled='vm.disabled()' callback='botao.callback', icone="{{::botao.icone}}", titulo="{{::botao.titulo}}", active='botao.active()')
  ngc-wysiwyg-menu(hide-gt-xs, titulo='Menu alinhamento', icone='format_align_center', botoes='vm.botoes', disabled='vm.disabled()')
    //- md-button.menu-item(hide-gt-xs aria-label='Menu alinhamento', ng-click='vm.abrirMenu($mdOpenMenu, $event)')
    //-   md-icon format_align_center
    //-   md-icon(md-menu-origin='') arrow_drop_down

    //- md-menu-content
    //-   md-menu-item(ng-repeat='botao in vm.botoes')
    //-     md-button(ng-click='botao.callback()', aria-label='{{::botao.titulo}}')
    //-       div(layout='row', flex='')
    //-         p(flex='') {{::botao.titulo}} &nbsp;
    //-         md-icon(md-menu-align-target='', style='margin: auto 3px auto 0;') {{::botao.icone}}




