ngc-wysiwyg {
    display: block;
    border-top: black solid 4px;




    .menu-container {
        .menu-bar {
            .menu-item {
                margin: 0;
                min-width: auto;
                padding: 5px;
                min-height: auto;
                &.active{
                    background-color: lightgray;
                }
            }

        }
    }
    div.content-editable-container {
        position: relative;
        div.content-editable {
            &:focus {
                outline: none;
            }
            p {
                margin: 0;
                margin-bottom: 10px;
            }
            blockquote {
                margin: 10px 0;
                border-left: solid cornflowerblue 3px;
                padding-left: 5px;
                color: cornflowerblue;
            }
        }
        img {
            &.align-left {
                margin: 5px 5px 5px 0;
            }
            &.align-right {
                margin: 5px 0 5px 5px;
            }
        }
        ngc-wysiwyg-image-resizer {
            display: block;
            position: absolute;
            border: solid 1px #1e88e5;
            box-sizing: content-box;
            .ngc-wysiwyg-handler{

                position: absolute;
                height: 6px;
                width: 6px;
                background: blue;

                &.top-right {
                    cursor: ne-resize;
                    top: -3;
                    right: -3;
                }
                &.top-left {
                    cursor: nw-resize;
                    top: -3;
                    left: -3;
                }
                &.bottom-right {
                    cursor: se-resize;
                    bottom: -3;
                    right: -3;
                }
                &.bottom-left {
                    cursor: sw-resize;
                    bottom: -3;
                    left: -3;
                }
            }
        }
        ngc-wysiwyg-floating-menu {
            border-top: black solid 4px;
            position: absolute;
            top: 0;
            .floating-menu-item {
                margin: 0;
                min-width: auto;
                padding: 3px;
                min-height: auto;
                &.active{
                    background-color: lightgray;
                }
            }
        }
        ngc-wysiwyg-image-resizer.hidden,
        ngc-wysiwyg-floating-menu.hidden{
            z-index: -10;
            visibility: hidden;
        }

    }

}